body {
    /* center items and arrange them vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Force body to take up the whole screen */
    min-height: 100vh;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

input {
    border-radius: 5px;
    height: 40px;
    width: 250px;
    font-size: large;
}