/* variables */
:root {
    --item-height: 6vh;
    --item-width: 25vw;
    --item-count: 5;
    --item-margin: 1.5vh;
}

/* || General classes */

.circle {
    border-radius: 50%;
    aspect-ratio: 1;
}

.off {
    background-color: red;
}

.on {
    background-color: greenyellow;
}

.popup {
    position: absolute;

    background-color: rgb(100, 100, 100);

    height: 50vh;
    width: 30vw;
    border-radius: 2vh;
    padding: 3vh 3vh;

    margin: auto;

    font-size: 3vh;

    /* center items and arrange them vertically */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* || Specific styling */

/* The global enabled button */

#globalEnabled {
    height: 15vh;

    font-size: 5vh;
    font-weight: bold;
}


/* The lists (device config and filter reference lists) */

#listContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.list {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2vh;
    margin: 5vw;

    /* don't show more than --item-count elements at once, the rest show if the user scrolls */
    height: calc((var(--item-height) + var(--item-margin)) * var(--item-count) + 2 * var(--item-margin));
    overflow-y: auto;
    scrollbar-width: thin;
}

.listElement {
    display: flex;
    align-items: center;
    justify-content: space-between;


    background-color: rgba(0, 0, 0, 0.3);

    height: var(--item-height);
    margin: var(--item-margin);

    width: var(--item-width);
    padding: 0 3%;
    box-sizing: border-box;

    border-radius: 1vh;
}

/* Buttons in list elements */
button.element {
    height: calc(var(--item-height) * 0.8);
    font-size: calc(var(--item-height) * 0.25);
}

/* Add element button */
button.listElement {
    font-size: calc(var(--item-height) * 0.6);
    justify-content: center;
}

.delete {
    -webkit-mask-image: url('assets/trash.svg');
    mask-image: url('assets/trash.svg');

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.download {
    -webkit-mask-image: url('assets/download.svg');
    mask-image: url('assets/download.svg');

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.listElement>div {
    display: flex;
    align-items: center;

    /* Space between the two buttons */
    gap: 0.7vw;
}


/* Refresh button (bottom right corner) */

#refresh {
    mask-image: url('assets/refresh.svg');
    mask-repeat: no-repeat;
    mask-size: contain;

    height: 4vh;
    aspect-ratio: 1;

    background-color: black;
}

div:has(> #refresh) {
    position: absolute;
    bottom: 3vh;
    right: 3vh;

    background-color: lightgray;

    padding: 1vh;

    border-radius: 1.5vh;
}


/* Device creation popup */

.popupCancelButton {
    position: absolute;
    top: 1vh;
    right: 1vh;

    border-radius: 0.8vh;
    height: 3vh;
    aspect-ratio: 1;

    font-size: 2.5vh;
}

.popupButton {
    font-size: 2vh;
    height: 3em;
    width: 10em;
    margin: 1em;
    border-radius: 1em;
}