/* variables */
:root {
    --item-height: 6vh;
    --item-width: 25vw;
    --item-count: 5;
    --item-margin: 1.5vh;
}

body {
    /* center items and arrange them vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.circle {
    border-radius: 50%;
    aspect-ratio: 1;
}

#globalEnabled {
    padding: 3vh;
    font-size: 5vh;
    font-weight: bold;
}

.off {
    background-color: red;
}

.on {
    background-color: greenyellow;
}

#listContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.list {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2vh;
    margin: 5vw;

    /* don't show more than --item-count elements at once, the rest show if the user scrolls */
    height: calc((var(--item-height) + var(--item-margin)) * var(--item-count) + 2 * var(--item-margin));
    overflow-y: auto;
    scrollbar-width: thin;
}

.listElement {
    display: flex;
    align-items: center;
    justify-content: space-between;


    background-color: rgba(0, 0, 0, 0.3);

    height: var(--item-height);
    margin: var(--item-margin);

    width: var(--item-width);
    padding: 0 3%;
    box-sizing: border-box;

    border-radius: 1vh;
}

button.element {
    height: calc(var(--item-height) * 0.8);
    font-size: calc(var(--item-height) * 0.25);
}

button.listElement {
    font-size: calc(var(--item-height) * 0.6);
    justify-content: center;
}

.deleteButton {
    -webkit-mask-image: url('assets/trash.svg');
    mask-image: url('assets/trash.svg');

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.listElement>div {
    display: flex;
    align-items: center;

    /* Space between the two buttons */
    gap: 0.7vw;
}

#loginPopup {
    /* Render on top of the rest */
    position: absolute;

    background-color: rgb(100, 100, 100);

    height: 50vh;
    width: 30vw;
    border-radius: 4vh;
    padding: 3vh 3vh;

    font-size: 4vh;

    /* center items and arrange them vertically */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#loginInputFields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5vh
}

input {
    border-radius: 5px;
    height: 40px;
    width: 250px;
    font-size: large;
}

#loginButtons>button {
    font-size: 2vh;
    height: 3em;
    width: 10em;
    margin: 1em;
    border-radius: 1em;
}